/* --------- */
/* HERO SECT */
/* --------- */

#hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: calc(100dvh - 50px);
  background: rgb(55,52,198);
  background: -moz-linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  background: -webkit-linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  background: linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d55d9",endColorstr="#2d56d6",GradientType=1); 
  color: white;
  padding-top: 50px;
  background-size: 100vw;
  overflow: hidden;
  background-position-y: bottom;
  position: relative;
}

#hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15vw;
  font-family: var(--font-coolvetica-reg);
  height: fit-content;
  z-index: 999;
}

#hero div h1 {
  margin-bottom: 0;
  height: fit-content;
  line-height: 17vw;
  opacity: 0;
  transform: translateY(100px);
  font-weight: lighter;
  font-family: var(--font-coolvetica-reg);
}

#hero button {
  color: white;
  border: solid white 3px;
  border-radius: 50px;
  font-size: clamp(15px, 2vw, 20px);
  padding: clamp(10px, 2vw, 15px) clamp(25px, 4vw, 50px);
  z-index: 999;
  opacity: 0;
  animation: textIn 1s 500ms ease-in-out forwards;
}

@media (min-width: 1000px) {
  #hero div {
    font-size: 150px;
  }

  #hero div h1 {
    line-height: 170px;
  }
}

@media (max-width: 340px) {
  #hero div {
    font-size: 51px;
  }

  #hero div h1 {
    line-height: 58px;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 100dvh;
    padding: 20px;
  }

  #hero div, #hero h1 {
    font-size: clamp(70px, 20vh, 150px);
    line-height: clamp(20px, 15vh, 150px) !important;
  }

  #hero button {
    padding: 10px 25px;
    font-size: 20px;
  }
}

#hero video {
  z-index: 5;
  pointer-events: none;
  position: absolute;
  opacity: 0.6;
  width: var(--video-size);
  filter: blur(0px);
  animation: blurIn 1s ease-in-out forwards;
}

#hero div h1:nth-of-type(1) {
  animation: textIn 1s ease-in-out forwards;
}
#hero div h1:nth-of-type(2) {
  animation: textIn 1s 250ms ease-in-out forwards;
}
#hero div h1:nth-of-type(3) {
  animation: textIn 1s 500ms ease-in-out forwards;
}

#hero button:hover,
#hero button:focus {
  background-color: white;
  color: #0e5fe1;
}

/* ------------ */
/* PURPOSE SECT */
/* ------------ */

#purpose {
  position: relative;
  height: 750px;
  background-color: #fff8f8;
  background-position: center;
  background-size: calc(100vw - 70px);
  background-repeat: no-repeat;
  width: 100vw;
}

@media (max-width: 740px) {
  #purpose {
    background-size: 740px;
  }
}

@media (min-width: 1300px) {
  #purpose {
    background-size: 1300px;
  }
}

#purpose>div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;
  padding: 10px;
}

#purpose>div:first-of-type div {
  width: fit-content;
  height: 650px;
  padding: 20px;
  background-color: #fff8f8;
  border-radius: 50px;
}

#purpose>div:last-of-type {
  width: calc(100vw - 150px);
  min-width: fit-content;
  padding: 10px;
  background-color: #ff00ff !important;
  margin: 0 auto;
}

#purpose>div:last-of-type p {
  font-family: var(--font-coolvetica-reg);
}

#purpose>div:last-of-type div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

#purpose>div:last-of-type img {
  width: 20px;
  height: 20px;
}

/* -------- */
/* PROJECTS */
/* -------- */

#projects {
  width: 100dvw;
  background-color: #cfe6ff;
  color: #150e60;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

#projects>h1 {
  font-size: 9vw;
  text-transform: uppercase;
  font-family: var(--font-coolvetica-reg);
}

@media (max-width: 1070px) {
  #projects>h1 {
    font-size: 80px;
  }
}

@media (max-width: 460px) {
  #projects>h1 {
    font-size: 50px;
  }
}

@media (max-width: 370px) {
  #projects>h1 {
    font-size: 40px;
  }
}

@media (min-width: 1500px) {
  #projects>h1 {
    font-size: 90px;
  }
}

#projects>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* -------- */
/* SCHEDULE */
/* -------- */

#schedule {
  background-color: #473dc6;
  color: #fff8f8;
  font-family: var(--font-coolvetica-reg);
  width: 100vw;
}

#schedule h1 {
  font-size: 70px;
  margin: 0 auto;
  width: fit-content;
}

#schedule>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* --------- */
/* KEY WORDS */
/* --------- */

#keyWords {
  width: 100vw;
  background-color: #cfe6ff;
  color: #473dc6;
  padding: 10px 0;
}

#keyWords img {
  border-radius: 5px;
  height: 100px;
}

#keyWords p {
  font-size: 100px;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */

@keyframes textIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes blurIn {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(5px);
  }
}
