#hero {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100dvh;
  max-height: 750px;
  background: rgb(55,52,198);
  background: -moz-linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  background: -webkit-linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  background: linear-gradient(150deg, #2d55d9 0%, #2d56d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d55d9",endColorstr="#2d56d6",GradientType=1); 
  color: white;
  padding-top: 50px;
  background-size: 100vw;
  overflow: hidden;
  background-position-y: bottom;
  position: relative;
}

@media (max-width: 750px) {
  #hero {
    background-size: 750px;
  }
}

#hero video {
  z-index: 5;
  pointer-events: none;
  position: absolute;
}

#hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 7vw;
  font-family: var(--font-agrandir-bold);
  height: fit-content;
  z-index: 999;
}

#hero div h1 {
  margin-bottom: 0;
  height: fit-content;
  line-height: 12vw;
  opacity: 0;
  transform: translateY(100px);
}

@media (min-width: 1000px) {
  #hero div {
    font-size: 70px;
  }

  #hero div h1 {
    line-height: 120px;
  }
}

@media (max-width: 440px) {
  #hero div {
    font-size: 30px;
  }

  #hero div h1 {
    line-height: 50px;
  }
}

#hero div h1:nth-of-type(1) {
  animation: textIn 1s ease-in-out forwards;
}
#hero div h1:nth-of-type(2) {
  animation: textIn 1s 250ms ease-in-out forwards;
}
#hero div h1:nth-of-type(3) {
  animation: textIn 1s 500ms ease-in-out forwards;
}

#hero button {
  color: white;
  border: solid white 3px;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 50px;
  z-index: 999;
}

#hero button:hover,
#hero button:focus {
  background-color: white;
  color: #4949de;
}

#about {
  color: #0721b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  text-align: center;
  gap: 5px;
}

@keyframes textIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
